* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/Bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  height: auto;
  width: 800px;
  max-width: 400px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.signup-container {
  height: auto;
  width: 800px;
  max-width: 400px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  padding: 20px;
}
.user-form{
  display: block;
}
.user-form form{
  display: block;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
label {
  font-size: 20px;
  padding: 5px;
  padding-right: 10px;
  border: none;
  width: 80%;
  max-width: 120px;
  box-sizing: border-box;
}
input {
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  color: white;
}
input[type="radio"] {
  width: auto;
}
.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(70, 41, 105);
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: #211531;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: rgb(206, 243, 227); 
}
.gender{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gendertext{
  font-size: 10px;
  font-style: normal;
}
.formcontrol{
  display: flex;
}
.formcontrol label{
  display: flex;
  font-size: 20px;
}
.formcontrol label input{
  margin: 10px;
}
.app-container{
  height: 400px;
  width: auto;
  max-width: 900px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex; 
}
.SearchInput-container{
  height: auto;
  width: 500px;
  max-width: 400px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.SearchInput-container input{
flex: 1;
margin: 0px;
padding-bottom: 10px;
}
.SearchInput-container button{
  padding: 0px;
  border-radius: 50px;
  height: 50px;
  width: 60px;
  margin: 0px;
  background-color: rgb(67, 124, 199);
}
.conversation{
  display: flex;
  padding : 5px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: auto;
}
.conversation:hover{
  background-color: rgb(86, 110, 110);
}
.conversation img{
  width: 30px;
  padding: 0px;
  margin: 0px;
}
.conversation p{
  padding-left: 10px;
  font-size: 20px;
}
.username p{
  padding-left: 30px;
}
.search-btn{
  padding: 5px;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
background-color: rgb(43, 78, 78);
}
.search-btn:hover{
  background-color: black;
}
.divider{
  background-color: antiquewhite;
  height: 1px;
}

.logout-btn{
color: red;  
}
.logout-btn button{
  padding-right: 10px;
  background:none;
  color: white;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
.logout-btn button:hover{
  color: red;
}
.sidebar{
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto;
}
.message-container{
width: 300px;
border: 1px solid white;
overflow: auto;
}
.header{
  background-color: rgb(36, 25, 25);
  padding:10px;
  border: 1px solid white;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
}
.chat_end{
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row-reverse;
  margin-right: 4px;
}
.chat_end .profile img{
  width: 30px;
}
.chat_end p{
  padding-left: 10px;
  background-color: rgb(54, 68, 68);
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
}
.chat-start{
  display: flex;
  align-items: center;
  margin-left: 4px;
}
.chat-start .profile img{
  width: 30px;
}
.chat-start p{
  padding-left: 10px;
  background-color: rgb(146, 46, 46);
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
}
.grey .time{
  font-size: 8px;
  margin-left: 15px;
}
.time p{
  background: none;
  border: none;
}
.blue .time{
  display: flex;
  justify-content: right;
  font-size: 8px;
  margin-right: 15px;
}
.chat{
  padding-bottom: 1px;
  margin: 0px;
}
.messageInput{
  position: absolute;
  width: 51.2%;
  top: 364px;
}
.keyboard{
  width: 100%;
  padding-bottom: 0px;
}
.keyboard button{
  margin: 0px;
  padding: 0px;
  position: absolute;
  background: none;
 right: 5px;
 padding-top: 5px;
}
.nochat{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.welcome p{
  text-align: center;
}
.chat-icon{
  font-size: 50px;
}
.selected{
  display: flex;
  padding : 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(42, 59, 94);
}
.selected img{
  width: 30px;
  padding: 0px;
  margin: 0px;
}
.selected p{
  font-size: 25px;
}